.frame{
    padding: 0;
   
}
nav{
    width: 150px;
    background-color: rgb(221, 201, 90);
   
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    border-bottom: 1px solid white;
    position: relative;
}
a{
    text-decoration: none;
    padding: 8px;
    display: block;
    color: white;
    font-size: 18px;
}

a:hover{
    background-color: gold;
}

.open-menu{
    position: absolute;
    background-color: gold;
    width: 150px;
    right: 150px;
    top: 0;
    display: none;

}

li:hover .open-menu {
    display: block;
}