body{
    background-color: rgb(152, 226, 152);
}

.frame div {
    height: 160px;
    margin: 8px;
    /* border-style: solid; */
    /* border-width: 3px; */
    /* border-color: red; */
    border: 3px solid red;
    border-right-width: 8px;
}

.frame div:first-child{
    border-color: purple;
    border-top: solid 20px red;
}
.frame div:nth-child(3){
    border-color: plum;
    border-style: dashed;
    border-bottom-style: solid;
    border-bottom-width: 30px;
}
.frame div:nth-child(4){
    border-color: rgb(95, 23, 95);

}

.frame div:last-child{
    border-color: purple;
}