body{
    background-color: rebeccapurple;
}

.frame{
    text-align: center;
}

.frame>div{
    width: 200px;
    height: 200px;
    margin: 16px;
    display: inline-block;
    background-color: rgb(248, 162, 1);
}

.frame>div:first-child {

    border-radius: 15%;
    background-color: rgb(179, 22, 22);
}
.frame>div:nth-child(2) {

    border-radius: 50%;
    background-color: rgb(14, 143, 42);
}
.frame>div:nth-child(3) {

    background-color: rgb(179, 22, 22);
    border-top-right-radius: 60%
}
.frame>div:nth-child(4) {
    border-radius: 0 50% 0 50%;
    background-color: blue;
    
}
.frame>div:nth-child(5) {
    border-radius: 25px;
    background-color: rgb(179, 22, 119);
    border-top-right-radius: 0;
}
.frame>div:nth-child(6) {
    border-radius: 20% 80% 80%;
    background-color: rgb(22, 148, 179);
}
.frame>div:nth-child(7) {
    border-radius: 20% 80% 80%;
    background-color: rgb(48, 99, 67);
}

