body{
    background-color: blanchedalmond;
}
 
.third{
    width: 33.33%;
    height: 200px;
    background-color: cadetblue;
    border: 1px solid black;
    box-sizing: border-box;
    float: right;
   
}
@media screen and (max-width:601px){
    .third{
        width: 100%;

    }
}