@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    direction: rtl;
    font-family: 'Heebo', sans-serif;
    color: #020253;
}

.row {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.row>* {
    padding: 0;
}

.img {
    background-image: url(assets/Coffee.png);
    height: 100%;
    background-size: cover;
    background-position: center;
}

.col-md-5 {
    align-items: center;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 55px;
    font-weight: 900;
    padding-bottom: 30px;
}

p {
    font-size: 24px;
}

form {
    max-width: 600px;
    padding: 16px;
}

label {
    display: block;
    margin: 20px 0;
    color: #2C2C2C;
    font-size: 18px;
    font-weight: bold;
}

.form-control {
    background-color: #E5EEFF;
    border: none;
    border-bottom: 4px solid #020253;
    border-radius: 0px; 
    height: 55px;
    width: 550px;
}

.btn {
    background-color: #020253; 
    border-radius: 0px;
    border: none;
    width: 160px;
    height: 50px;
    font-size: 22px;
}

@media (max-width: 768px) {
    .row {
        position: static;
        flex-flow: wrap-reverse;
    }

    .form-control {
        width: 100%;
    }

    .img {
            height: 200px;
        }

    h1{
            font-size: 40px;
        }
    
    .btn {
        width: 100%;
        }
}
