

body{
    direction: rtl;
    background-color:rgb(245, 165, 181);
    font-family: 'Secular One', sans-serif;
    
}

h1{
    text-align: center;

}
form {
    width: 80%;
    padding: 25px;
    background-color: rgb(208, 191, 224);
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 0 3px;
    font-size: large;
    max-width: 600px;
}
div {
    margin-bottom: 12px;
    max-width: 300px;
    border-radius: 6px;
    box-shadow: 0 0 3px #050505b3;
    box-sizing: border-box;
    padding: 8px;   
   
    
}

label{
    display: block;
    margin-bottom: 3px;
}

input{
    padding: 5px;
    border-radius: 3px;
    border: 1 px solid rgb(184, 178, 178);
    /* width: 100%; */
    box-sizing: border-box;
}

/*עיצוב קלאס*/
.primary {
    border-right: 5px solid gray;
}
/* עיצוב ID בודד*/
#myid{
    background-color:azure;
}