body{
    background-color: blueviolet;
   
}

h2{
    background-color: blanchedalmond;
    padding: 8px;
    margin: 8px, o;
    border: 2px dashed gray;
    border-right: 0;
    border-left: 0;
    text-align: center;
}

.image{
width: 900px;
height: 400px;
border: 1px solid black;
max-width: 100%;
}

.image1 {
    background-image: url(images/BACKGROUND1.png);
    background-size: 50px;
}

.image2 {
    background-image: url(images/BACKGROUND3.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.image3 {
    background-image: url(images/BACKGROUND3.jpg) ,url(images/BACKGROUND4.jpg) ;
    background-size: 200px cover;
    background-position: center, top;
}