body{
    direction: rtl;
    background-color: darkslategray;
    font-family: Arial, Helvetica, sans-serif;
}

header, footer{
    background-color: goldenrod;
    font-size: larger;
    text-align: center;
    padding: 30px;
}

nav{
    background-color: rgb(207, 104, 67);
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    color: rgb(100, 16, 44);
}

main{
    
}