@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Rubik+Glitch&family=Rubik+Marker+Hatch&family=Secular+One&family=Varela+Round&display=swap');

body{
    direction: rtl;
    font-family: Arial, Helvetica, sans-serif;
    background-color: palegoldenrod ;
}

h1{
     text-align: center;
}