@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap');

html {
    direction: rtl;
    min-height: 100%;
}

body {
    background: radial-gradient(#6f6a7267, #6703eb);
    padding-bottom: 200px;
}

h1 {
    font-size: 70px;
    text-align: center;
    color: darkorange;
    font-style: oblique;
    margin: 16px;
}


.ball {
    width: 300px;
    height: 300px;
    background-color: black;
    border-radius: 50%;
    padding: 30px;
    position: relative;
    top: 40%;
    right: 40%;
}

.ball div {
    width: 10px;
    height: 10px;
    font-size: 12px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
    border-bottom: 200px solid rgb(38, 5, 65);
}
  
.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}
  
.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
}
  
.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
}

form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 40px;
}

label {
    font-size: 20px;
    color: black;
}

input {
    width: 50%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid darkorange;
    border-radius: 6px;
    
}

button {
    background-color: #140230;
    color: darkorange;
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
}

button:hover {
    background-color: #31074d;
}


