@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap');

body{
    direction: rtl;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://images.livemint.com/rf/Image-920x613/LiveMint/Period2/2018/06/02/Photos/Processed/pets1-kYdB--621x414@LiveMint.jpg);
    background-size: cover;
}